{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block auth_page_content %}


<div class="container" style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card" style="width: 25rem;">
            <div class="card-header"><h3>Login</h3></div>
            <div class="card-body">
                <form action="" method="post" novalidate>
                    <!-- Hidden csrf input -->
                    {{ form.hidden_tag() }}

                    <!-- Email address input -->
                    <div class="mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(placeholder="alice@email.com", class="form-control form-control-sm") }}
                        {% for error in form.email.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>

                    <!-- Password input -->
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(placeholder="********", class="form-control form-control-sm") }}
                        {% for error in form.password.errors %}
                        <small class="text-danger">{{ error }}</small>
                        {% endfor %}
                    </div>

                    <!-- Remember me checkbox -->
                    <div class="form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>

                    <!-- Submit button -->
                    <div class="mt-3">
                        {{ form.submit(class="btn btn-primary w-100") }}
                    </div>
 
                    
                    
                </form>
                <div class="text-center">
                    <p class="mb-0">New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}

